body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.main-anime
{
	text-align: center;
}

.main-anime img
{
	width: 100%;
	height: auto;
}

.main-anime p
{
	margin-bottom: 30px;
}

.main-anime figcaption
{
	margin-top: 8px;
}

/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

.navbar
{
	min-height: 57px;
}

/*
.bg-jumpers
{
	background-color: #FFC0CB !important;
}
*/

.bg-anime
{
	background-color: #FFC0CB !important;
}



